<section class="form-section" >
  <div class="text">
    <h3>Fique ligado nas novidades</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium
      doloremque possimus corporis porro quo. Ad quos eum illo adipisci
      obcaecati voluptatem. Voluptatum ea eveniet quam, facere totam sapiente
      voluptatibus.
    </p>
  </div>
  <form>
    <label for="email">Name</label>
    <input id="name" />
    <label for="email">E-mail</label>
    <input id="e-mail" />
    <app-bnt-primary></app-bnt-primary>
  </form>
</section>
