@import "../../../variavel-Color/color-variables.scss";
man{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
}

.head-line{
padding: 0 50px;
width: 30vw;
    span{
        font-size: 20px;
        font-weight: 500;
    }

    h1{
        font-size: 40px;
        font-weight: 800;
        color: $primary-text;
    }
   
}

.benefit-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

    p{
        font-size: 30px;
        font-style:italic ;
        font-weight: 300;
        width: 40vw;
        padding: 0 80px;
        b{
            color: $secondary-text;
            font-style: normal;
        }
    }
  
}

.benefit-data{
   border-bottom: 10px solid $secondary-text;
   padding-bottom: 40px;
  
    h2{
        font-size: 50px;
        font-weight: 600;
        color: $primary-text;
    }
}

@media (min-width: 1080px) {
    .main-section{
      flex-direction: row;
    }
    
    .benefit-section{
     
        flex-direction: row;
    }
}

.cta-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}