<app-header></app-header>
<main>
  <section class="main-section">
    <div class="head-line">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria Que Você Busca Para Sua Empresa</h1>
    </div>
    <img ngSrc="./assets/Mulher.webp" width="400" height="400" />
  </section>
  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        95% das <br />
        empresas
      </h2>
    </div>
    <p>
      não sabem lidar com problemas de <b>escabilidades</b> e grande volume de
      requisição.
    </p>
  </section>

  <section class="cta-section">

    <app-bnt-primary bnt-text="Fale com nossos Especialistas" ></app-bnt-primary>
  </section>
  <app-newsletter-form></app-newsletter-form>
</main>
