<app-header></app-header>
<main>
  <section class="main-section">
    <div class="head-line">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria Que Você Busca Para Sua Empresa</h1>
    </div>
    <img ngSrc="./assets/Mulher.webp" width="400" height="400" />
  </section>
  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        95% das <br />
        empresas
      </h2>
    </div>
    <p>
      não sabem lidar com problemas de <b>escabilidades</b> e grande volume de
      requisição.
    </p>
  </section>

  <section class="cta-section">
    <app-bnt-primary bnt-text="Fale com nossos Especialistas"></app-bnt-primary>
  </section>
  <app-newsletter-form></app-newsletter-form>

  <section class="card-section">
    <div class="card">
      <img
        src="../../../assets/Tecnology.jpg"
        alt=""
        width="500px"
        height="300px"
      />
      <h2>EQUIPE CAPACITADA</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima
        iusto, temporibus consequatur quibusdam eos enim? Vel aut quaerat iste.
      </p>
    </div>
    <div class="card">
      <img
        src="../../../assets/Tecnology.jpg"
        alt=""
        width="500px"
        height="300px"
      />
      <h2>EQUIPE CAPACITADA</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima
        iusto, temporibus consequatur quibusdam eos enim? Vel aut quaerat iste.
      </p>
    </div>
  </section>
  <section class="text-section">
    <h1>QUER ELEVAR SEUS NEGOCIOS OUTRO NIVEL ?</h1>
    <app-bnt-primary bnt-text="Fale com nossos Especialistas"></app-bnt-primary>
  </section>
  <section class="social-section">
<img src="../../../assets/logo.png" alt="logo">
<div>
  <img src="../../../assets/icons8-instagram-64.png" alt="instagram">
  <img src="../../../assets/icons8-facebook-64.png" alt="facebook">  
</div>
  </section>
</main>
