@import "../../../variavel-Color/color-variables.scss";

.bntprimary{
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: $secondary-text;
    background-color: $primary-text;
    height: 5vh;
    font-size: 20px ;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.secondary{
       
        background-color: $secondary-text;
       
    }
}








